@model CheeseMVC.ViewModels.ViewMenuViewModel

 
<h1>@Model.Menu.Name</h1>

<table class="table">
    <tr><th>Cheese</th><th>Description</th><th>Category</th></tr>
    @foreach (var cheeseMenu in Model.Items)
    {
        <tr>
            <td>@cheeseMenu.Cheese.Name</td><td>@cheeseMenu.Cheese.Description</td><td>@cheeseMenu.Cheese.Category.Name</td>
        </tr>
    }

</table>

@if (Model.Items.Count == 0)
{
    <p>No menu items!</p>

}


<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add</a></p>



